<mat-toolbar>About</mat-toolbar>

<mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="abouttitle">Salient Features of the application</mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
                <p class="notediv">This application provides the following functionalities for managing products inventory,</p>
                <div class="options">1. Add Product</div>
                <div class="options">2. Edit Product</div>
                <div class="options">3. Delete Product</div>
                <div class="notediv"><b>Note: The users must register themselves in the system to be able to perform the above operations.</b></div>
        </mat-card-content>
</mat-card>
